{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}
</style>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br>
<br>
<p style="margin-left:50px; margin-right:50px; font-size:20px"> Avoiarc este o statiune în curs de dezvoltare, aflata in jud. Gorj, Romania, situata la 1.600 m altitudine, la poalele varfului Papușa în Muntii Novaciului din Masivul Parang, la 18 km de orașul Novaci pe șoseaua Transalpina (DN67C), drum care este modernizat si intretinut pana in statiune chiar si pe timp de iarna. Iarna se poate urca doar dinspre Novaci, Transalpina fiind inchisa pe timpul iernii dinspre Obarsia Lotrului -Voineasa</p>
<br>

<h3 class="text-center">Surprinse de prin zona: </h3>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune1.jpg'%}" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune2.jpg'%}" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune3.jpg'%}"/></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune4.jpg'%}"/></div>
    	<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune5.jpg'%}" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune6.jpg'%}" /></div>
	    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune7.jpg'%}"/></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/statiune8.jpg'%}" /></div>
    </div>
</div>

{% endblock %}