{% extends 'base.html' %}

{% block content %}

<script>
    $(document).ready(function($) {
    $('.cycle').cyclotron();

    $(".cycle").css('cursor', 'url(http://i.imgur.com/FrQFOJo.png),auto');
});


// library

(function($) {
    $.fn.cyclotron = function(options) {
        var settings = $.extend({
            dampingFactor: 0.93,
            historySize: 5
        }, options);
        return this.each(function() {
            var container, sx, dx = 0,
                armed, offset = 0,
                tick, prev, h = [];
            container = $(this);

            container.mousedown(function(e) {
                sx = e.pageX - offset;
                armed = true;
                e.preventDefault();
            });
            container.mousemove(function(e) {
                var px;
                if (armed) {
                    px = e.pageX;
                    if (prev === undefined) {
                        prev = px;
                    }
                    offset = px - sx;
                    if (h.length > settings.historySize) {
                        h.shift();
                    }
                    h.push(prev - px);

                    container.css('background-position', offset);

                    prev = px;
                }
            });
            container.bind('mouseleave mouseup', function() {
                if (armed) {
                    var i, len = h.length,
                        v = h[len - 1];
                    for (i = 0; i < len; i++) {
                        v = (v * len + (h[i])) / (len + 1);
                    }
                    dx = v;
                }
                armed = false;
            });
            tick = function() {
                if (!armed && dx) {
                    dx *= settings.dampingFactor;
                    offset -= dx;
                    container.css('background-position', offset);
                    if (Math.abs(dx) < 0.001) {
                        dx = 0;
                    }
                }
            };
            setInterval(tick, 16);
        });
    };
}(jQuery));
</script>

<style>
.cycle {
  background-image: url(http://i.imgur.com/cxAGkCf.jpg);
  height: 415px;
  cursor: move;
}
.box {
  width: 512px;
  margin: 0 auto;
  font-family: arial, sans-serif;
}
</style>


<head>
    <title> Statiunea ALABALA</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div class="cycle" style="cursor: url('http://i.imgur.com/FrQFOJo.png'), auto;" >
<h2 class="text-center">Easy panoramic headers: <small>drag mouse around on image</small></h2>
</div> <!-- /.cycle -->
<div class="container">
  <div class="row">

    <br><br><br><hr>

    </div><!-- /.row -->
    </div><!-- /.container -->
</body>
<center> <h1>Bine ati venit pe la noi!</h1> </center>
{% endblock content %}