<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/cazare/camera">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Adaugati detalii: </h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Numar camera: </label>
    <div class="col-sm-4">
      {{ form.numar_camera }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tip camera: </label>
    <div class="col-sm-4">
      {{ form.tip_camera }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Numar persoane:</label>
    <div class="col-sm-4">
      {{ form.nr_persoane }}
    </div>
 </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>