<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camere cazare</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<style>
img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}
</style>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Numar_camera</th>
        <th>Cu/fara baie</th>
        <th>Numar persoane/camera</th>

    </tr>
    </thead>
    <tbody>
{% for pensiune in pensiuni %}
    <tr>
        <td>{{ pensiune.numar_camera}}</td>
        <td>{{ pensiune.tip_camera }}</td>
        <td>{{ pensiune.nr_persoane }}</td>

    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><div class="container">
	<div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/cam2.jpg'%}" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/cam3.jpg'%}"/></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/cam4.jpg'%}"/></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="{% static 'images/cam5.jpg'%}"/></div>
    </div>
</div>
</center>
</body>
</html>
{% endblock %}